* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  min-height: 100vh;
  display: flex;
}

#app {
  width: 100vw;
  height: 100vh;
}

#editor {
  width: 800px;
  height: 600px;
}
